
<div class="container py-5 my-4">


    <div class="pt-5">
        <div class="text-center text-warning p-3">
            <h2>Search for movies, actors and directors</h2>
        </div>
        <div class="">
            <form action="/result" method="GET" class="justify-content-center d-flex">
                <input type="text" name="search" class="form-control w-25 bg-dark text-white" value="Avengers">
                <input type="submit" class="btn btn-warning ml-2" value="Search">
            </form>
        </div>
    </div>


</div>
